@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400..700&display=swap');

*{
  margin: 0;
}
body{
  background-color: #dcdcdc;
  font-family: Asap, sans-serif;
}
ol{
  list-style: none;
  padding: 0;
}
a{
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 700;
  color: #fff;
}
h1, h2, h3, h4{
  text-transform: capitalize;
  font-weight: 600;
}
h1, h2{
  font-size: 2rem;
}

h3{
  font-size: 1.75rem;
  margin: 0.5rem 0 0.25rem;
}
h4{
  font-size: 1.5rem;
}
p{
  font-weight: 500;
}
.content-wrapper p{
  font-weight: 400;
}
button, .button{
  caret-color: transparent;
  cursor: pointer;
}
.inform, .greetings, .admin-nav, a{
  font-size: 1.25rem;
}
svg{
  inline-size: 1.25rem;
}
/*--------*/
.wrapper{
  --page-gap: 1.5vi;
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: #f5f5f5;
  max-inline-size: 90vi;
  margin: 0 auto;
}
header{
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 5fr 3fr;
  row-gap: var(--page-gap);
  padding: var(--page-gap) var(--page-gap) calc(var(--page-gap) + 0.25rem) var(--page-gap);
  background: linear-gradient(#fff 97%, #dcdcdc 97%, #dcdcdc00);
}
form, .greetings{
  display: grid;
  grid-template-columns: 1fr 14fr;
  justify-content: start;
  align-items: center;
}
form button, .inform button{
  grid-column: 1/2;
  grid-row: 1/2;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 0.6lh;
  border: none;
  background: none;
}
input{
  grid-column: 2/3;
  inline-size: 93%;
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 0.75lh;
  background-color: #f5f5f5;
}
.inform{
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
  justify-self: center;
  align-items: center;
  column-gap: var(--page-gap);
}
.greetings img{
  margin: 0 var(--page-gap);
}
.greetings span{
  font-weight: 400;
  font-size: 1rem;
  text-transform: none;
}
.admin-nav{
  align-self: center;
  justify-self: center;
}
.admin-nav ol{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: var(--page-gap);
}
.button a{
  display: block;
  inline-size: max(8ch, 7vi);
  padding: 0.5rem 0;
  border-radius: 1lh;
  background-color: #00f;
  text-align: center;
}
/*-----------*/
.main-nav{
  grid-row: 1/3;
  background-color: #00f;
  padding: var(--page-gap);
}
.main-nav p{
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  font-size: 2.15rem;
  font-weight: 700;
  color: #fff;
}
.main-nav p svg{
  inline-size: 3rem;
  margin-inline-end: 0.5vi;
}
#main-nav ol{
  display: grid;
  row-gap: var(--page-gap);
  margin-block-start: 6vi;
}
#main-nav a{
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
}
/*--------*/
.content-wrapper{
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: var(--page-gap);
  padding: calc(2 * var(--page-gap)) var(--page-gap);
}
.content-wrapper ol{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35ch, 1fr));
  gap: var(--page-gap);
  margin: var(--page-gap) 0;
}
.card{
  background-color: #fff;
  border-radius: 1rem;
  padding: var(--page-gap) var(--page-gap) var(--page-gap) calc(2 * var(--page-gap));
  display: grid;
  row-gap: var(--page-gap);
  box-shadow: 3px 3px 5px #dcdcdc;
}
.color{
  background: linear-gradient(to right, goldenrod 1rem, #fff 1rem, #fff);
}
.small{
  justify-self: end;
  align-self: end;
  display: grid;
  grid-template-columns: repeat(3,32px);
  column-gap: var(--page-gap);
}

